body{
    margin: 0;
    height: 100vh;
    width:100vw;
    display: flex;
    background-color: rgb(245, 182, 124);
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainDiv{
    display: flex;
    height: 100%;
    width:100%;
    flex-direction: column;
    background-color: rgb(245, 182, 124);
  
}
.headerDiv{
   
    display: flex;
    flex: 1;
    border-bottom: 5px solid black;
   
}
.headerDiv h1{
    margin: auto;
    font-size: 45px;
    font-weight: bolder;
}
.gameDiv{
    display: flex;
flex: 5;
flex-direction: row;
border-bottom: 5px solid black;
}

.buttonDiv{

  
    display: flex;
    flex: 1;
    border-right: 5px solid black;
   
    flex-direction: column;
  
    margin: auto;

   font-size: 20px;
   font-weight: bolder;
   
    height: 100%;
    background-color: rgb(245, 182, 124);
   text-align: center;
   
}


.button1,.button2,.button3,.buttonStart{
    margin: auto;
    display: flex;
   

   font-size: 20px;
   font-weight: bolder;
   padding: 30px 70px;
    background-color: rgb(248, 158, 117);
    border-radius: 5px;
    border: 4px solid black;
   
}
.resultDiv{
    display: flex;
    flex: 3;
    flex-direction: column;
   
   
 
 
}
.handDiv,.mainButtonDiv{
    display: flex;
    
flex-direction: row;
justify-content: space-around;
align-items: center;

}
.handDiv{
   text-align: center;
 margin-top:50px;
 flex: 7;
}
.handDiv #playerHand,#computerHand{
   
    text-align: center;
  
   
   
  height: auto;
  width:auto;
}
#computerHandContainer,#playerHandContainer{
   
   
    width: 100%;
   height: 100%;
   
}

#playerImg,#computerImg{
  border: 4px solid black;
   border-radius: 5px;
}
.mainButtonDiv{
    display: flex;
   flex: auto;
    flex-direction: column;
    
    
  
}

a:hover{
    cursor: pointer;
    color: black;
}

.github-logo {
   
    padding-top: 5.1%;
   margin-left: 6px;
  display: flex;
    max-width: 28px;
    max-height: 28px;
    
   
  }



.footerDiv {
 flex: 0.5;
 display: flex;
 flex-direction: column;

}
a {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  .resultText{
 text-align: center;   
 font-size: 60px;
 

  }
  #text1,#text2,#text3{
    font-size: 70px;
  }
 
  .resultBox {
    width: 20%;
  }